version: "3.9"

services:
  finance-api:
    build: .
    container_name: finance-api
    ports:
      - "8080:8080"
    restart: unless-stopped
    environment:
      ConnectionStrings__Default: Host=postgres;Port=5432;Database=finance;Username=finance;Password=finance
    depends_on:
      - postgres

  postgres:
    image: postgres:16
    container_name: postgres
    restart: unless-stopped
    ports:
      - "5432:5432"
    environment:
      POSTGRES_DB: postgres
      POSTGRES_USER: finance
      POSTGRES_PASSWORD: finance
    volumes:
      - pgdata:/var/lib/postgresql/data

volumes:
  pgdata: